<div class="page-header">
  <h3><%= @safety_valve.size %>",<%= @safety_valve.category %>,<%= @safety_valve.pressure_rating %> PSI,<%= @safety_valve.description %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Size</dt>
      <dd><%= @safety_valve.size %></dd>

      <dt>Category</dt>
      <dd><%= @safety_valve.category %></dd>

      <dt>Pressure rating</dt>
      <dd><%= @safety_valve.pressure_rating %></dd>

      <dt>Description</dt>
      <dd><%= @safety_valve.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/safety_valves" class="btn btn-primary">
        Back
      </a>
      <a href="/safety_valves/<%= @safety_valve.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_safety_valve/<%= @safety_valve.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
