<div class="page-header">
  <h3><%= @packer.size %>",<%= @packer.category %>,<%= @packer.pressure_rating %> PSI,<%= @packer.description %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Size (Inch)</dt>
      <dd><%= @packer.size %></dd>

      <dt>Type</dt>
      <dd><%= @packer.category %></dd>

      <dt>Pressure Rating (PSI)</dt>
      <dd><%= @packer.pressure_rating %></dd>

      <dt>Description</dt>
      <dd><%= @packer.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/packers" class="btn btn-primary">
        Back
      </a>
      <a href="/packers/<%= @packer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_packer/<%= @packer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
